{% load static %}

<!DOCTYPE html>

  <link href='{% static "pages/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "pages/css/scrolling-nav.css" %}' rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
      <!-- Bootstrap core CSS -->
  <link href='{% static "pages/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "pages/vendor/bootstrap/css/bootstrap.css" %}' rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href='{% static "pages/css/scrolling-nav.css" %}' rel="stylesheet">
</head>
<body>

    <!--<div class="container">-->

        {% block body %}
        {% endblock %}
    <!--</div>-->

</body>
</html>