{% extends 'pages/test.html' %}
{% load static %}

{% block body %}


<div class="box1" >
  <img src="{% static 'pages/img/ipad.png' %}" width="490px" height="330px">
</div>

<div class="box2" >
<img src="{% static 'pages/img/sample.jpg' %}"  width="367px" height="249px">
</div>


<div style="margin-top:160px; margin-left:800px;">
  <p style="font-size:50px; margin-top:50px;"> CHECK IMAGE </p>
  <p style="color:#FFCE61; font-size:40px;">"{{ serial_no }}"</p>
  <p style="font-size:15px;">이미지 속 품번과 일치하면 결과보기를 눌러주세요</p>
  <a href="{% url 'pages:result' serial_no %}" style="margin-left:50px; margin-right:30px;"><button style="background:#6195ff; display: inline-block; border: 6px solid transparent; padding: 6px 20px; color:#ffff;border-radius: 3px;">Result</button></a>
  <a href="{% url 'pages:upload' %}"><button style="background:#343a40; display: inline-block; border: 6px solid transparent; padding: 6px 20px; color:#ffff;border-radius: 3px;">Back</button></a>
</div>


{% endblock %}