{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  <title>EASYSEARCH</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "pages/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "pages/css/scrolling-nav.css" %}' rel="stylesheet">

  <style>
.hero-image {
  background-image: url({% static 'pages/img/home.png' %});
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  margin-top:50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TEAM KOOKSUWON</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--<div style="background-image : url(media/images/ok.jpg)">-->
<header class="hero-image">
    <div class="container text-center">
      <b style="font-size:96px; color:white; font-family:noto2; ">EASYSEARCH</b>
      <a href="{% url 'pages:upload' %}"><img src="{% static 'pages/img/price-tag.png' %}" width="90" height="80" style="margin-bottom:50px;"></a>
<p style="margin-right :  100px; font-family:nanumSR; color: #a5b0b7; font-size:1.1em;">#최저가 #PIRCE_TAG #쇼루밍족 #가격비교 #온라인쇼핑 #텔레그램</p>
      <!--<p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>-->
    </div>
</header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
            <br>
            <br>
          <center><h4><b>'EASYSEARCH' 는 사진 한 장으로 웹 사이트에서 빠르고 간편하게 <br> 최저가를 검색하는 온라인 제품 검색 서비스입니다.</b></h4></center>
          <br>
           <center><img src="{% static 'pages/img/shopping.jpg' %}" width="700" height="300">
             <br>
             <br>
         <h5>서비스를 원하면 로고를 클릭하세요!</h5></center>
          <!--<ul>-->
            <!--<li>Clickable nav links that smooth scroll to page sections</li>-->
            <!--<li>Responsive behavior when clicking nav links perfect for a one page website</li>-->
            <!--<li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>-->
            <!--<li>Minimal custom CSS so you are free to explore your own unique design options</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
      <h2>Services</h2>
          <br>
          <br>
          <h5 style="color:red;"><img src="{% static 'pages/img/check-mark.png' %}">  빠르고 간편하게 검색하자! </h5>
          <b><p>매장에서 찍은 사진 속 복잡한 품명, 어려운 검색은 그만! 사진 한 장으로 빠르고 간편하게 검색하세요~</p></b>
          <hr>
           <h5 style="color:red;"><img src="{% static 'pages/img/check-mark.png' %}">  다양한 사이트의 최저가를 비교! </h5>
          <b><p>제품의 최저가를 네이버, 에누리, 다나와 세 개의 사이트에서 검색합니다. 원하는 가격으로 구매하세요~</p></b>
          <hr>
           <h5 style="color:red;"><img src="{% static 'pages/img/check-mark.png' %}">  원하는 가격 알림 서비스! </h5>
          <b><p>검색된 가격이 마음에 안 들 때는? 텔레그램으로 원하는 가격 알림 서비스를 받아보세요~</p></b>



        </div>
      </div>
    </div>
  </section>

  <section id="contact">
  <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
  </div>
    <br>
    <br>
    <div class="container">
<div class="row text-center">

      <div class="col-lg-4 col-md-8 mb-8">
        <div class="card h-100">
          <h4 class="card-title">KOOKJUNG</h4>
          <img class="card-img-top" src="{% static 'pages/img/jk.gif' %}" alt="">
          <div class="card-body">

            <p class="card-text">Hi~ Im Jung ~</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class=col-lg-4 col-md-8 mb-8">
        <div class="card h-100">
           <h4 class="card-title">MOONSUMIN</h4>
          <img class="card-img-top" src="{% static 'pages/img/sm.gif' %}" alt="">
          <div class="card-body">

            <p class="card-text">Hello World</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/suminmoon" class="btn btn-primary">CONTACT</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-8 mb-8">
        <div class="card h-100">
            <h4 class="card-title">LEEJIWON</h4>
          <img class="card-img-top" src="{% static 'pages/img/jw.gif' %}" alt="">
          <div class="card-body">

            <p class="card-text">What?</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>


  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; KOOKSUWON 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "pages/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "pages/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Plugin JavaScript -->
  <script src='{% static "pages/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
