{% extends 'pages/test.html' %}
{% load static %}


{% block body %}

<div class="container" style="margin-top:50px;">
  <div class="contents">
    <div class="row">


        <div class="col-md mydiv">
            <p style="font-size:60px; margin-top:90px; margin-left:100px;">UPLOAD IMAGE</p>
            <p style="font-size:17px; margin-left:100px;"><img src="{% static 'pages/img/icon4.png' %}" style="width:30px; height:30px;">상품번호가 나와있는 PRICE TAG 사진을 올려주세요.</p>
            <div style="margin-top:300px; margin-left:0px;">
              <form action="" method="post" enctype="multipart/form-data" class="image-text">
                    {% csrf_token %}
                  <input name="image" type="file" accept="image/*" style="margin-left:160px;"/>
                    <!--이미지 받는 태그-->
                    <br>
                    <br>
                  <input value="Submit" class="btn btn-primary" type="submit" style="margin-right:40px; background:#6195ff; display: inline-block; border: 6px solid transparent; padding: 6px 20px; color:#ffff;border-radius: 3px;">
              </form>
            </div>
                  <div class="back-text" style="margin-top:27px; margin-left:-70px;">
                  <a href="{% url 'pages:index' %}"><button style="background:#343a40; display: inline-block;  border: 6px solid transparent; padding: 5px 18px; color:#ffff;border-radius: 3px;">Back</button></a>
                    </div>

        </div>
        </div>

                <div style="width:450px; margin-left:600px; margin-top:-420px; background:#f8f9fa; ">

                    <center><h2  class="card-title" style="color:#6195ff;">How To Use :)</h2></center>

                    <b><p class="card-body" style="font-size:17px">1. '파일 선택'을 눌러 원하는 사진을 선택해주세요.<br><br>
                    2. 'Submit'을 눌러주세요.<br><br>
                    3. 팝업창에서 품명 영역을 (섬세하게) 드래그하세요.<br><br>
                    4. ENTER를 누른 후, 새로운 창이 나오면 다시 한 번 ENTER를 눌러주세요.<br></p></b>



        </div>

    </div>
  </div>
</div>

{% endblock %}