{% extends 'pages/base.html' %}

{% block body %}

    <h1>사진을 업로드 해주세요!</h1>
    <p>품번 영역을 선택하고 enter를 누른 후, 새로운 창이 나오면 다시 한 번 enter를 눌러주세요 :)</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input name="image" type="file" accept="image/*" />
        <!--이미지 받는 태그-->
        <input class="btn btn-primary" type="submit" />

    </form>

    <a href="{% url 'pages:index' %}">뒤로 가기</a>
<a href="#" onclick="window.open('pages/test.html','window팝업','width=300, height=300-->
<!--, menubar=no, status=no, toolbar=no');">팝업테스트</a>
{% endblock %}